.side-nav-container {
    height: 100vh;
    position: fixed;
    inset: 30% 0 20px 30px;
    overflow: hidden;
}

.side-nav-content {
    height: 100vh;
}

.toggle-bar {
    font-size: 1.8rem;
    cursor: pointer;
    background-color: blue;
    width: 2rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 10%;
}

.menu-container {
    margin: 2rem auto;
}

.menu-list {
    margin: 1rem auto;
}

.menu-list .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    width: 2rem;
    padding: 0.5rem;
    padding-bottom: 0.2rem;
    border-radius: 50%;
    color: whitesmoke;
    background-color: rgb(154, 156, 155);
}

.menu {
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .toggle-bar {
        display: none;
    }

    .hide-menu-mobile {
        display: none;
    }

    .menu-list {
        margin: 2rem auto;
    }

    .menu-list .menu-icon {
        font-size: 1.2rem;
    }

  }
