.side-nav-content {
    position: absolute;
    top: 30%;
    left: 5%;
    overflow: hidden;
    width: 10px;
}

.toggle {
    font-size: 1.8rem;
}

.menu-container ul li {
    margin: 2rem auto;
    font-size: 1.3rem;
}

.menu-container ul li a {
    color: whitesmoke;
    align-self: center;
}

.menu-container {
    white-space: nowrap;
}

.menu-name {
    margin-left: 1rem;
    font-size: 1rem;
    background-color: tomato;
}


@media only screen and (max-width: 600px) {
    .toggle {
        display: none;
    }

    .menu-name {
        display: none;
    }
}
