@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* universal styling */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* App styling */
.landing-container {
  background-position: center;
  background-size: cover;
  position: relative;
}

.bg-container {
  position: relative;
}
.bg-container::before {
  content: 'KHINGZ';
  position: absolute;
  top: 3%;
  left: 3%;
  width: 60px;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  border: 1px solid whitesmoke;
  padding: 0.3rem;
}

.bg-container::after {
  content: '';
  position: absolute;
  top: 5%;
  left: 2%;
  width: 85px;
  padding: 1px;
  background-color: rgb(34, 34, 34);
  transform: rotate(165deg);
}