@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* universal styling */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* App styling */
.landing-container {
  background-position: center;
  background-size: cover;
  position: relative;
}

.bg-container {
  position: relative;
}

/* .logo {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: whitesmoke 1.5px solid;
  width: 8%;
} */